<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548383251384-v4tmdv2qrs9pdqgq4691sdhetnsvoim7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548383251384-v4tmdv2qrs9pdqgq4691sdhetnsvoim7</string>
	<key>API_KEY</key>
	<string>AIzaSyB7MkCYQkXRTHShOEAxhyDaX6ws-l2PFt4</string>
	<key>GCM_SENDER_ID</key>
	<string>548383251384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iniongungroup.mobile.ios.FireGram</string>
	<key>PROJECT_ID</key>
	<string>firegram-12d5d</string>
	<key>STORAGE_BUCKET</key>
	<string>firegram-12d5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548383251384:ios:6ab90c9f1529f0d3b20d4d</string>
	<key>DATABASE_URL</key>
	<string>https://firegram-12d5d.firebaseio.com</string>
</dict>
</plist>